.body {
  font-family: "Montserrat";
  font-weight: 500;
  font-style: normal;
  min-width: 300px;
  max-width: 744px;
  //   margin: 0 50px;
  margin: 0 auto;
  //   padding: 0 2rem;
  // border: 1px solid black;
}
