.container {
  max-width: 644px;
  // width: 644px;
  // width: 100%;
  margin: 0 50px;
  // margin: 0 auto;
  border: 1px solid orangered;
}

@media (max-width: 456px) {
  .container {
    margin: 0 30px;
  }
}
