@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap");

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  background-color: #3919af;
}
.header__container {
  max-width: 1200px;
  margin: 0px auto;
  display: flex;
  padding: 0px 30px;
  align-items: center;
  justify-content: space-between;
  min-height: 70px;
}
.header__logo {
  position: relative;
  z-index: 5;
  width: 40px;
  height: 40px;
}

.header__logo-img {
  vertical-align: baseline;
  height: 43px;
}

.header__menu {
}
.menu {
}
.menu__icon {
  display: none;
}
.menu__body {
}
.menu__list {
}
.menu__list > li {
  position: relative;
  margin: 0px 0px 0px 20px;
}
.menu__link {
  color: #fff;
  font-size: 13px;
  text-decoration: none;
}
.menu__link:hover {
  // text-decoration: underline;
  color: #ffe500;
  // font-weight: 600;
}
.language {
  font-weight: 900;
  color: #ffe500;
}
.menu__sub-list {
  position: absolute;
  top: 100%;
  right: 0;
  // background-color: #3919af;
  padding: 15px;
  min-width: 33px;
}
.menu__sub-list li {
  margin: 0px 0px 10px 0px;
}
.menu__sub-list li:last-child {
  margin: 0;
}
.menu__sub-link {
  color: #fff;
  text-decoration: none;
  font-size: 800;
  font-size: 13px;
}
.menu__sub-link:hover {
  // text-decoration: underline;
  // color:#FFE500;
  font-weight: 800;
}
.menu__arrow {
  // display: none;
}
/* ----------------------- */
body._pc .menu__list > li:hover .menu__sub-list {
  opacity: 1;
  visibility: visible;
  transform: translate(0px, 0px);
  pointer-events: all;
}

body._touch .menu__list > li {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
body._touch .menu__link {
  flex: 1 1 auto;
}
body._touch .menu__arrow {
  display: block;
  width: 0;
  height: 0;
  margin: 20px 0px 0px 0px;
  transition: transform 0.3s ease 0s;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 10px solid #fff;
}

body._touch .menu__list > li._active .menu__sub-list {
  opacity: 1;
  visibility: visible;
  transform: translate(0px, 0px);
  pointer-events: all;
  margin: 15px 0px 0px 21px;
  padding: 0px 0px 0px 0px;
}

body._touch .menu__list > li._active .menu__arrow {
  margin: 20px 0px 0px 0px;
  transform: rotate(-180deg);
}

/* ----------------------- */
@media (min-width: 743px) {
  .menu__list {
    display: flex;
    align-items: center;
  }
  .menu__list > li {
    padding: 10px 0;
  }

  .menu__sub-list {
    transform: translate(0px, 10%);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: all 0.3s ease 0s;
    background: #3919af;
    margin: 0px 0px 0px 0px;
    text-align: center;
  }
  .menu__sub-list li {
    width: 16px;
    text-align: center;
    margin: 0px 0px 10px 0px;
    padding: 0px 0px 0px 0px;;
  }


  .menu__sub-link {
    color: #ffffff;
  }

  .menu__sub-link:hover {
    font-weight: 800;
  }
}

@media (max-width: 743px) {
  .menu__icon {
    z-index: 5;
    display: block;
    position: relative;
    width: 30px;
    height: 18px;
    cursor: pointer;
  }
  .menu__icon span,
  .menu__icon::before,
  .menu__icon::after {
    left: 0;
    position: absolute;
    height: 10%;
    width: 100%;
    transition: all 0.3s ease 0s;
    background-color: #fff;
  }
  .menu__icon::before,
  .menu__icon::after {
    content: "";
  }
  .menu__icon::before {
    top: 0;
  }
  .menu__icon::after {
    bottom: 0;
  }
  .menu__icon span {
    top: 50%;
    transform: scale(1) translate(0px, -50%);
  }

  .menu__icon._active span {
    transform: scale(0) translate(0px, -50%);
  }
  .menu__icon._active::before {
    top: 50%;
    transform: rotate(-45deg) translate(0px, -50%);
  }
  .menu__icon._active::after {
    bottom: 50%;
    transform: rotate(45deg) translate(0px, 50%);
  }

  .menu__body {
    position: fixed;
    top: 0;
    left: -120%;
    width: 90%;
    height: 100%;
    background-color: rgba(57, 25, 175, 0.9);
    padding: 100px 30px 30px 30px;
    transition: left 0.3s ease 0s;
    overflow: auto;
  }
  .menu__body._active {
    left: 0;
  }

  .menu__body::before {
    content: "";
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: 70px;
    background-color: #3919af;
    z-index: 2;
  }

  .menu__list > li {
    flex-wrap: wrap;
    margin: 0px 0px 30px 0px;
  }
  .menu__list > li:last-child {
    margin-bottom: 0;
  }
  .menu__list > li._active .menu__sub-list {
    display: block;
  }
  .menu__link {
    font-size: 20px;
  }
  .menu__sub-list {
    position: relative;
    // background-color: #fff;
    // flex: 1 1 100%;
    margin: -5px 0px 0px 0px;
    display: none;
  }
  .menu__sub-link {
    font-size: 22px;
    color: white;
  }
}

// body._lock {
//   overflow: hidden;
// }
// .header {
//   position: fixed;
//   top: 0;
//   left: 0;
//   width: 100%;
//   z-index: 10;
//   background-color: rgb(240, 204, 204);
// }
// .header__container {
//   max-width: 644px;
//   margin: 0 auto;
//   display: flex;
//   padding: 0px 15px;
//   align-items: center;
//   justify-content: space-between;
//   min-height: 90px;
// }
// .header__logo-img {
//   vertical-align: baseline;
//   height: 43px;
// }
// .header__logo {
//   padding: 0px;
//   max-width: 100px;
// }

// .menu__list > li {
//   position: relative;
//   padding-bottom: 5px;
//   margin: 0px 0px 0px 10px;
// }

// .menu__link {
//   color: rgb(20, 140, 245);
//   font-size: 11px;
//   // padding: 5px;
//   text-decoration: none;
// }
// .menu__link:hover {
//   text-decoration: underline;
// }
// .menu__sub-list {
//   position: absolute;
//   top: 100%;
//   right: 0;
//   background-color: #9584ff;
//   min-width: 20px;
// }

// .menu__sub-list li {
//   margin: 0px 0px 10px 0px;
// }

// .menu__sub-list li:last-child {
//   margin: 0;
// }

// .menu__sub-link {
//   font-size: 11px;
//   color: #ffe600;
//   text-decoration: none;
// }

// .menu__sub-link:hover {
//   text-decoration: underline;
// }

// .menu__arrow {
//   display: none;
// }

// // ____________________________________________

// body._pc .menu__list > li:hover .menu__sub-list {
//   opacity: 1;
//   visibility: visible;
//   transform: translate(0px 0px);
//   pointer-events: all;
// }

// body._touch .menu__list > li {
//   display: flex;
//   align-items: center;
// }

// body._touch .menu__arrow {
//   display: block;
//   width: 0;
//   height: 0;
//   margin: 0px 0px 0px 5px;
//   transition: transform 0.3s ease 0s;
//   border-left: 5px solid transparent;
//   border-right: 5px solid transparent;
//   border-top: 10px solid #fff;
// }

// body._touch .menu__link {
//   flex: 1 1 auto;
// }

// body._touch .menu__list > li._active .menu__sub-list {
//   opacity: 1;
//   visibility: visible;
//   transform: translate(0px 0px);
//   pointer-events: all;
// }

// body._touch .menu__list > li._active .menu__arrow {
//   transform: rotate(-180deg);
// }
// // ____________________________________________

// @media (min-width: 690px) {
//   .menu__list {
//     display: flex;
//     align-items: center;
//   }
//   .menu__list > li {
//     padding: 10px 0;
//   }

//   .menu__sub-list {
//     transform: translate(0px, 10%);
//     opacity: 0;
//     visibility: hidden;
//     pointer-events: none;
//     transition: all 0.3s ease 0s;
//   }
// }

// @media (max-width: 690px) {
//   .menu__icon {
//     z-index: 5;
//     display: block;
//     position: relative;
//     width: 30px;
//     height: 18px;
//     cursor: pointer;
//   }

//   .menu__icon span,
//   .menu__icon::before,
//   .menu__icon::after {
//     left: 0;
//     position: absolute;
//     height: 10%;
//     width: 100%;
//     transition: all 0.3s ease 0s;
//     background-color: white;
//   }

//   .menu__icon::before,
//   .menu__icon::after {
//     content: "";
//   }

//   .menu__icon::before {
//     top: 0;
//   }

//   .menu__icon::after {
//     bottom: 0;
//   }

//   .menu__icon span {
//     top: 50%;
//     transform: scale(1) translate(0px, -50%);
//   }

//   .menu__icon._active span{
//     transform: scale(0) translate(0px, -50%);
//   }

//   .menu__icon._active::before {
//     top: 50%;
//     transform: rotate(-45deg) translate(0px, -50%);
//   }

//   .menu__body {
//     position: fixed;
//     top: 0;
//     left: 0;
//     height: 100%;
//     width: 100%;
//     background-color: rgb(57, 25, 175, 0.9);
//     padding: 100px 30px 30px 30px;
//     transition: left 0.3s ease 0s;
//     overflow: auto;
//   }
//   .menu__body::before {
//     content: "";
//     position: fixed;
//     width: 100%;
//     top: 0;
//     left: 0;
//     height: 90px;
//     background-color: rgb(240, 204, 204);
//     z-index: 2;
//   }
//   .menu__list > li {
//     margin: 0px 0px 30px 0px;
//   }
//   .menu__list > li:last-child {
//     margin-bottom: 0;
//   }
//   .menu__list > li._active .menu__sub-list {
//     display: block;
//   }
//   .menu__link {
//     font-size: 18px;
//   }
//   .menu__sub-list {
//     position: relative;
//     background-color: #fff;
//     flex: 1 1 100%;
//     margin: 20px 0px 0px 0px;
//     display: none;
//   }
//   .menu__sub-link {
//     font-size: 16px;
//     color: rgb(57, 25, 175);
//   }
// }
