.main__main-section {
  // margin: 0 auto;
  //   padding: 0 0 90px 0;
  //   padding-bottom: 90px;
  background-image: url(/assets/images/main-background.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  // max-width: 744px;
  // width: 100%;
  //   max-height: 583px;
  height: 583px;
}

.main__main-content {
  height: 355px;
  //   max-width: 316px;
  //   padding: 0 50px;
  //   margin-top: 5rem;
  padding: 59px 0 79px 0;
}

.main__title {
  max-width: 316px;
  font-size: 26px;
  font-weight: 900;
  line-height: 163%;
  padding: 0;
  color: #ffe600;
}
.main__subtitle {
  max-width: 241px;
  font-size: 13px;
  font-weight: 600;
  line-height: 200%;
  color: #1e1e1e;
}
.main__button {
  background: #ffe500;
  border: none;
  padding: 20px 44px;
  margin-top: 38px;
}
.main__button a {
  text-decoration: none;
  font-weight: 700;
  font-size: 16px;
  color: #3919af;
}
