.section-title {
  margin: 0 auto;
  font-weight: 900;
  // font-size: 24px;
  font-size: calc(20px + 4 * (100vw / 744));
  line-height: 29px;
  padding: 80px 0 38px 0;
  text-align: center;
}

@media (max-width: 456px) {
  .section-title {
    font-size: calc(20px + (4 + 4 * 0.7) * ((100vw - 320px) / 744));
    padding: 70px 0 38px 0;
  }
}
