.main__working-section {
  background: #f7f5ff;
}
.main__working {
  display: flex;
  flex-direction: column;
}
.main__working-title {
  color: #3919af;
}
.main__working-content {
  margin: 0 auto;
  max-width: 530px;
}
.main__working-card {
  display: flex;
  align-items: center;
  column-gap: 25px;
}
.main__working-icon {
  margin: 20px 0 20px 12.5px;
}
.main__working-card-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 135%;
  color: #1e1e1e;
}
.main__working-text {
  font-weight: 400;
  font-size: 10px;
  line-height: 135%;
  color: #1e1e1e;
}

.main__working-button {
  background: #ffe500;
  border: none;
  padding: 20px 34px;
  margin: 27px auto 109px;
}
.main__working-button a {
  text-decoration: none;
  font-weight: 800;
  font-size: 16px;
  color: #3919af;
}

@media (max-width: 456px) {
  .main__working-card {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
  }

  .main__working-icon {
    margin: 10px auto 15px;
  }
  .main__working-card-title,
  .main__working-text {
    text-align: center;
  }
}
